.bookList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 1;

  .bookLink {
    min-width: calc(100% / 2 - 50px);
    text-decoration: none;
  }
}

@media (max-width: 800px) {
  .bookList {
    .bookLink {
      width: 100%;
    }
    margin-bottom: 40px;
  }
}
