@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.header {
  background-color: #42a5f5;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo {
      height: 100%;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        h1 {
          color: white;
          font-family: "Kaushan Script", cursive;
          margin: 0;
          padding: 0;
          font-size: 36px;
        }
      }
    }
  }

  &.user {
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #004e92,
      #000428
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      rgba(0, 78, 146, 0.5),
      rgba(0, 4, 40, 0.5)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.2);
  }
}

.nav {
  flex: 1;
  .links {
    display: flex;
    align-items: center;
    justify-content: end;

    a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

.mobileIcons {
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  display: none;
  border: none;
  background-color: transparent;

  svg {
    position: absolute;
    font-size: 50px;
  }
}

@media (max-width: 800px) {
  .nav {
    flex: 1;
    .links {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end;
      background-color: #42a5f5;
      left: -100%;
      top: 60px;
      height: calc(100vh - 60px);
      width: 100%;
      transition: all 0.5s ease;
      a {
        font-size: 36px;
        margin-right: 0px;
        margin: 20px;
      }

      &.active {
        left: 0;
        transition: all 0.5s ease;
        z-index: 100;
      }
    }

    &.user {
      .links {
        background: #000428;
        background: -webkit-linear-gradient(to right, #004e92, #000428);
        background: linear-gradient(
          to right,
          rgba(0, 78, 146, 0.8),
          rgba(0, 4, 40, 0.8)
        );
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
      }
    }
  }
  .mobileIcons {
    display: flex;
  }
}
